In [28]:
import pandas as pd
#from tabulate import tabulate

In [29]:
!ls work/scripts/SQL/

aggregated_metrics.sql	total_sales_day.sql
outliers.sql		total_sales_product.sql

In [30]:
import sqlite3
import os

# Path to DB SQLite with the shared volumne of docker
db_path = "/home/jovyan/work/data/sales_dashboard.db"

# Path to SQL Querys
sql_folder = "./work/scripts/SQL/"

# Check SQL Folder
if not os.path.exists(sql_folder):
    print(f"❌ ERROR: La carpeta {sql_folder} no existe.")
    exit(1)

# Function to execute SQL Querys in SQLite 
def fetch_data(sql_file):
    sql_path = os.path.join(sql_folder, sql_file)
    
    # Verificar si el archivo SQL existe
    if not os.path.exists(sql_path):
        print(f"❌ ERROR: El archivo {sql_file} no existe en {sql_folder}")
        return None

    with open(sql_path, "r") as file:
        query = file.read()

    conn = sqlite3.connect(db_path)
    df_query = pd.read_sql(query, conn)
    conn.close()
    
    return df_query

In [31]:
#  Total Sales per Product
df_result_1 = fetch_data("total_sales_product.sql")
print(f"\nResultados de total_sales_product.sql:\n\n", df_result_1)

Resultados de total_sales_product.sql:

     product  total_sales
0  Gadget-Y   899.549984
1  Gadget-X   739.629990
2  Widget-C   299.699989
3  Widget-B   289.709995
4  Widget-A   269.729990
5      None    99.949997
6  Doodad-2    89.819996
7  Doodad-3    44.909998
8  Doodad-1    39.919998

In [32]:
#  Total Sales per Day
df_result_2 = fetch_data("total_sales_day.sql")
print(f"\nResultados de total_sales_day.sql:\n\n", df_result_2)

Resultados de total_sales_day.sql:

           date  total_sales
0   2024-07-01   199.849991
1   2024-07-02    69.930000
2   2024-07-03   189.889997
3   2024-07-04    39.939999
4   2024-07-05   119.910000
5   2024-07-06   104.939997
6   2024-07-07   159.879997
7   2024-07-08    39.949999
8   2024-07-09    49.949997
9   2024-07-10   159.889992
10  2024-07-11    74.909998
11  2024-07-12   189.900003
12  2024-07-13   109.929996
13  2024-07-14    19.959999
14  2024-07-15   169.899992
15  2024-07-16   104.939997
16  2024-07-17    89.899998
17  2024-07-18   159.900002
18  2024-07-19    54.949999
19  2024-07-20    49.949997
20  2024-07-21   169.899992
21  2024-07-22   129.920002
22  2024-07-23    84.900000
23  2024-07-24    49.949997
24  2024-07-25   179.879997

In [33]:

# Aggregated Metrics per Category
df_result_3 = fetch_data("aggregated_metrics.sql")
print(f"\nResultados de aggregated_metrics.sql:\n\n", df_result_3)

Resultados de aggregated_metrics.sql:

   category   product  avg_price  total_revenue day_of_week
0   Gadget  Gadget-X      19.99    1739.129971      Friday
1   Gadget  Gadget-Y      19.99    1739.129971      Friday
2   Gadget      None      19.99    1739.129971      Friday
3   Doodad  Doodad-1       4.99     174.649992    Thursday
4   Doodad  Doodad-3       4.99     174.649992    Thursday
5   Doodad  Doodad-2       4.99     174.649992    Thursday
6   Widget  Widget-C       9.99     859.139975      Monday
7   Widget  Widget-B       9.99     859.139975      Monday
8   Widget  Widget-A       9.99     859.139975      Monday

In [34]:
# Outlier Transactions
df_result_4 = fetch_data("outliers.sql")
print(f"\nResultados de outliers.sql:\n\n", df_result_4)

Resultados de outliers.sql:

     transaction_id category   product  quantity  price  total_sales  \
0                1   Widget  Widget-A        10   9.99    99.899994
1                2   Gadget  Gadget-X         5  19.99    99.949997
2                3   Widget  Widget-B         7   9.99    69.930000
3                4   Doodad  Doodad-1         0   4.99     0.000000
4                5   Widget  Widget-C         3   9.99    29.969999
5                6   Gadget  Gadget-Y         8  19.99   159.919998
6                7   Widget  Widget-A         2   9.99    19.980000
7                8   Doodad  Doodad-2         4   4.99    19.959999
8                9   Widget  Widget-B         6   9.99    59.939999
9               10   Gadget  Gadget-X         3  19.99    59.970001
10              11   Gadget      None         5  19.99    99.949997
11              12   Doodad  Doodad-3         1   4.99     4.990000
12              13   Widget  Widget-C         8   9.99    79.919998
13              14   Gadget  Gadget-Y         4  19.99    79.959999
14              15   Widget  Widget-A         3   9.99    29.969999
15              16   Doodad  Doodad-1         2   4.99     9.980000
16              17   Gadget  Gadget-X         0  19.99     0.000000
17              18   Widget  Widget-B         5   9.99    49.949997
18              19   Doodad  Doodad-2         4   4.99    19.959999
19              20   Gadget  Gadget-Y         7  19.99   139.929993
20              21   Widget  Widget-C         6   9.99    59.939999
21              22   Doodad  Doodad-3         3   4.99    14.969999
22              23   Gadget  Gadget-X         9  19.99   179.910004
23              24   Widget  Widget-A         1   9.99     9.990000
24              25   Doodad  Doodad-1         2   4.99     9.980000
25              26   Gadget  Gadget-Y         5  19.99    99.949997
26              27   Widget  Widget-B         0   9.99     0.000000
27              28   Doodad  Doodad-2         4   4.99    19.959999
28              29   Gadget  Gadget-X         7  19.99   139.929993
29              30   Widget  Widget-C         3   9.99    29.969999
30              31   Doodad  Doodad-3         1   4.99     4.990000
31              32   Gadget  Gadget-Y         5  19.99    99.949997
32              33   Widget  Widget-A         8   9.99    79.919998
33              34   Doodad  Doodad-1         2   4.99     9.980000
34              35   Gadget  Gadget-X         6  19.99   119.940002
35              36   Widget  Widget-B         4   9.99    39.959999
36              37   Doodad  Doodad-2         3   4.99    14.969999
37              38   Gadget  Gadget-Y         2  19.99    39.980000
38              39   Widget  Widget-C         5   9.99    49.949997
39              40   Doodad  Doodad-3         0   4.99     0.000000
40              41   Gadget  Gadget-X         7  19.99   139.929993
41              42   Widget  Widget-A         3   9.99    29.969999
42              43   Doodad  Doodad-1         2   4.99     9.980000
43              44   Gadget  Gadget-Y         6  19.99   119.940002
44              45   Widget  Widget-B         7   9.99    69.930000
45              46   Doodad  Doodad-2         3   4.99    14.969999
46              47   Gadget  Gadget-X         0  19.99     0.000000
47              48   Widget  Widget-C         5   9.99    49.949997
48              49   Doodad  Doodad-3         4   4.99    19.959999
49              50   Gadget  Gadget-Y         8  19.99   159.919998

    outlier_flag
0              0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             0
16             0
17             0
18             0
19             0
20             0
21             0
22             0
23             0
24             0
25             0
26             0
27             0
28             0
29             0
30             0
31             0
32             0
33             0
34             0
35             0
36             0
37             0
38             0
39             0
40             0
41             0
42             0
43             0
44             0
45             0
46             0
47             0
48             0
49             0